body {
    background-color: lightcyan;
}

#search-box {
    text-align: center;
    margin-top: 50px;
}

#input {
    padding: 5px;
    background-color: red;
    border: none;
}

#button {
    padding: 5px;
    background-color: yellow;
    margin-left: -2px;
    border: none;
}